
.Loading { 
  display: none;
  height: 100%;
  width: 100%;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  user-select: none;
}

i.loadingIcon {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.Loading.visible {
  display: block;
  position: absolute;
  z-index: 1;
  text-align: center;
  padding-top: 40vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
